.footer-back {
    width: 100%;
    height: 500px;
}

.footer-banner {
    position: absolute;
    background-color: #921c1cb6;
    top: 0;
    width: 100%;
    height: 100%;
}

.footer-banner p {
    font-size: 2em;
    font-weight: 200;
    color: white;
    text-align: center;
    padding: 10px 0 !important;
}

.footer-banner h4 {
    text-align: center;
    font-weight: 300;
    font-size: 1em;
    color: white;
}

/*información del desarrollador*/
.info-dev {
    color: rgb(218, 218, 218);
    background: linear-gradient(
        90deg,
        rgb(6, 23, 62) 0%,
        rgb(21, 46, 107) 100%
    );
    text-align: center;

    padding-top: 20px !important;
}

.info-dev p {
    font-weight: 300;
}

.logo-sie {
    width: 30%;
    display: block;
    margin: 20px auto;
}

.ubicacion h3 {
    color: white;
    font-size: 2em;
    margin-top: 2em;
    text-align: center;
}
.ubicacion h4 {
    font-size: 1.2em;
}

@media screen and (max-width: 992px) {
    .ubicacion h3 {
        font-size: 0.9em !important;
    }
    .ubicacion h4 {
        font-size: 0.8em;
    }
}

.decoracion2 {
    width: 100%;
    height: 100%;
    background-image: url("https://rrnnii.upea.bo/images/fondo_monolito.png");
    background-size: contain;
    background-repeat: repeat-x;
    opacity: 0.05;
    filter: brightness(1000);
    position: absolute;
    top: 0;
    z-index: 1;
}
