.custom-navbar {
    padding: 0 !important;
    height: 60px;
    border-bottom: #7e0c0a34 1px solid;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.custom-img {
    width: 85px !important;
    transition: transform 1s;
}

.custom-img:hover {
    transform: rotate(360deg);
    transition: transform 1s;
}

.custom-nav-item {
    display: flex;
    align-items: center;

    color: #7e0c0a;
    height: 60px;
    padding: 0 10px !important;
    transition: background-color 1s, color 1s;
}

.custom-nav-item:hover {
    background-color: #7e0c0a;
    color: white;
    transition: background-color 1s, color 1s;
}

.custom-link {
    color: inherit !important;
    font-weight: 400;
    font-size: 1em;
}

show .custom-icon {
    width: 30px;
    height: 30px;
    font-size: 1.7em !important;
    color: inherit;
}

/*contact info*/

.contact-info {
    background-color: #7e0c0a;
    color: white;
    font-weight: 300;
}

.contact-info p {
    text-align: center;
    font-size: 0.8em;
}

/*social buttons up to navbar*/
.social {
    text-decoration: none !important;
}

.social i {
    color: #7e0c0a;
    background-color: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px 5px 5px !important;
    transition: background-color 0.5s;
}

.social i:hover {
    background-color: #7e0c0a;
    color: whitesmoke;
    transition: background-color 0.5s;
}

/*this sections works with javascript navbar.js*/
.show {
    background-color: #7e0c0a;
    color: white;
}