@keyframes h1enter {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0%);
    }
}

/*titulo "Relaciones Internacionales - UPEA"*/
.main-title {
    padding: 0 !important;
    margin: 0 !important;
    background: rgb(215, 40, 37);
    background: linear-gradient(90deg, rgba(215, 40, 37, 1) 0%, rgba(79, 26, 21, 1) 100%);
    display: block;
    color: white;
    width: 90%;
    margin-top: 50px !important;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px rgba(75, 30, 30, 0.384);
    font-size: 1em;
    padding: 20px 0 !important;
    animation: h1enter 2s;
    scale: 1;
    transition: scale 1s;
    font-weight: bold !important;
    font-variant: small-caps;
}

/*subtitulo de los convenios*/
.main-title p {

    font-weight: 300;
    font-size: 1.2em;
}

.main-title:hover {
    scale: 1.05;
    transition: scale 1s;
}

.img-home {
    width: 100%;
    height: 100%;
    scale: 1;
    transition: scale 1s;
}

.img-banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}

.img-banner:hover {
    opacity: 0.8;
    transition: opacity 1s;
}

.custom-btn {
    background: linear-gradient(90deg, rgb(184, 60, 58) 0%, rgb(107, 27, 20) 100%);
    position: absolute;
    border: none !important;
    color: white;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px 20px;
    z-index: 1000;
    transition: background 0.5s, color 0.5s;
}

.custom-btn:hover {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(233, 195, 192) 100%);
    position: absolute;
    color: #7e0c0a;
    transition: background 0.5s, color 0.5s;
}

/*counters*/

.bg-counters {
    background: linear-gradient(90deg, rgba(215, 40, 37, 1) 0%, rgba(79, 26, 21, 1) 100%);

}

.counter {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 200;
    font-size: 1.3em;
    color: whitesmoke;
}

.counter span {
    color: #dddddd;
    font-weight: bold;
    font-size: 1.3em !important;
    margin-right: 10px;
}

/*estilos para el fondo de monolito*/
.img-mono {
    display: block;
    width: 60%;
    position: absolute;
    z-index: -10;
    top: 0;
    display: block;
    margin: 30px;
    opacity: 0.4;
    max-width: 350px;
    animation: mono-routing infinite 10s ease-in-out;
}

@keyframes mono-routing {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

hr {
    padding: 0 !important;
    margin: 0 !important;
}

/*Eventos que se registran en Javascript, las clases de acá se añaden con javascript.*/
.imgHomeEnter {
    scale: 1.2;
    transition: scale 1s;
}

/*PARTE DEL MAIN DE LA VISTA home.index*/

.news-card {
    box-shadow: 10px 10px 10px #7e0c0a17;
    border-radius: 10px;
    transition: scale 1s, box-shadow 1s;
    margin: 20px 0 !important;
    text-decoration: none;
}

.news-card:hover {
    scale: 1.08;
    box-shadow: 5px 5px 15px #7e0c0a51;
    transition: scale 1s, box-shadow 1s;
}

.news-card i {
    font-size: 4em;
    display: block;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: #7e0c0a;
    transition: transform 1s;
}

.news-card:hover i,
.collapse-button:hover i {
    transform: rotate(360deg);
    transition: transform 1s;
}

.news-card h4 {
    color: #7e0c0a;
    text-align: center;
}

/*Parte misión, visión, etc*/
.collapse-title {
    position: relative;
    padding: 10px 0 !important;
    color: #7e0c0a;
    text-align: center;
    font-weight: 300;
    border-bottom: #7e0c0a25 1px solid;
    margin: 0 10px !important;
}

.collapse-button {
    color: #7e0c0a;
    font-size: 1.5em;

    width: 60px;
    display: block;
}

.ri-info {
    margin: 20px 0 !important;
}



.ri-info p {
    text-align: center;
    padding: 10px 0 !important;
    color: rgb(67, 67, 67);
    font-weight: 300;
}


/*Parte de carusel infinito*/
.bg-img-carreras:hover {
    scale: 1.2;
    transition: scale 1s;
    width: 100%;
}

.bg-img-carreras {
    transition: scale 1s;
    display: block;
    z-index: 1000;
}

.img-carreras {
    display: block;
    width: 100px;
    height: 80px;
    padding: 0px 10px !important;
    margin: 10px 20px !important;
    opacity: .95;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
}

.slider .slide {
    height: 100px;
    width: 250px;
}