.main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 100;
    transform: translateY(-100%);
    transition: transform .75s;
}

.pregunta {
    width: 300px;
    height: 250px;
    right: 0;
    left: 0;
    top: 30%;
    margin: auto auto;
    background-color: whitesmoke;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#no {
    background-color: brown;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    margin-left: 20px;
}

#si {
    background-color: rgb(18, 92, 18);
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
}


.showmodal {
    transform: translateY(0%);
}