.main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 10000 !important;
    transform: translateY(-100%);
    transition: transform .75s;
}

.pregunta {
    width: 300px;
    height: 250px;
    right: 0;
    left: 0;
    top: 30%;
    margin: auto auto;
    background-color: whitesmoke;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#no {
    background-color: brown;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    margin-left: 20px;
}

#si {
    background-color: rgb(18, 92, 18);
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
}


.showmodal {
    transform: translateY(0%);
}


/*ALERTAS DE TAREAS TERMINADAS*/

.completado {
    position: fixed;
    background-color: white;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.653);
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;
    animation: completado-in 5s ease-in-out both;
}

.completado i {
    color: rgb(104, 157, 26);
    font-size: 2em;
}

.completado p {
    font-size: 1.1em;
    margin-top: 10px;
    padding-right: 10px;
}

@keyframes completado-in {

    0% {
        transform: translateX(150%);
    }

    30% {
        transform: translateX(0);
    }

    70% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(150%);
    }
}