h2 {
    text-align: center;
    font-weight: 200;
    padding: 20px;
    color: rgb(75, 75, 75);
}

/*fecha de publicación*/
.publicacion {
    background-color: brown;
    color: rgb(196, 196, 196) !important;
    display: inline-block;
    font-size: .9em;
    padding: 2px 5px;
    border-radius: 10px;
}

.publicacion span {
    color: white !important;
}

.list {
    padding: 0 !important;
}

.list-item {
    list-style: none;
    margin: 10px auto !important;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    padding: 10px !important;
}


.custom-item {
    width: 100%;
}

.custom-item h3 {
    font-size: 1em;
    font-weight: 300;
    color: brown;
    text-align: center;
}

.custom-item p {
    font-weight: 300;
    color: rgb(95, 95, 95);
}

.custom-item span {
    font-size: 1em;
    font-weight: bold;
    color: brown;
    text-align: center;
}

/*PDF button*/
.pdf {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color .7s;
}

.pdf i {
    color: brown;
    font-size: 2.7em;
    transition: color .7s;
}

.pdf:hover{
    background-color: brown;
    transition: background-color .7s;
}

.pdf:hover i{
    color: white;
    transition: color .7s;
}