.banner-about {
    display: flex;
    background: linear-gradient(
        90deg,
        rgb(184, 60, 58) 0%,
        rgb(20, 26, 107) 100%
    );    align-items: center;
}

.banner-about img {
    width: 50px;
}

.banner-about h3 {
    font-size: 1em;

    color: white;
}

p {
    font-weight: 300;
    color: rgb(16, 16, 16);
}

h2 {
    font-weight: 300;
    color: brown;
    text-align: center;
}

.perfiles{
    width: 120px;
    height: 120px;
    overflow: hidden;
   border: 3px solid rgb(219, 25, 25);
   margin: 10px 0;
}